doctype html
html(lang="ja")
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width,initial-scale=1, minimum-scale=1, maximum-scale=1')
    title Ishikura Noboru portfolio
    link(rel='stylesheet' href='//cdn.jsdelivr.net/devicons/1.7.0/css/devicons.min.css')
    link(rel='stylesheet' href='//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css')
    link(rel='stylesheet' href='//cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css')
    link(rel='stylesheet' href='css/main.css')
    script
      | (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      | (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      | m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      | })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      | ga('create', 'UA-61693970-1', 'auto');
      | ga('send', 'pageview');
  body
    .global-header
      img.global-header__profile-image(src="img/profile-image.jpg")
      h1.global-header__name Ishikura Noboru
      a.global-header__github(href='https://github.com/noboru-i/noboru-i.github.io' target='_blank') View on GitHub
    .private-works
      h2.private-works__title Private Works
      ul.private-works__contentes
        - var PRIVATE_WORKS = [];
        - PRIVATE_WORKS.push({name: 'SlideViewer', icons: ['devicons-android'], link: 'https://play.google.com/store/apps/details?id=hm.orz.chaos114.android.slideviewer', image: 'img/private_works/slideviewer.png'});
        - PRIVATE_WORKS.push({name: 'RocketSS', icons: ['devicons-java', 'devicons-coffeescript'], link: 'http://rsspocket.appspot.com/', image: 'img/private_works/rocketss.png'});
        - PRIVATE_WORKS.push({name: 'Read It Now', icons: ['devicons-android'], link: 'https://play.google.com/store/apps/details?id=hm.orz.chaos114.android.readitnow', image: 'img/private_works/readitnow.png'});
        - PRIVATE_WORKS.push({name: '詰め共円', icons: ['devicons-apple'], link: 'https://itunes.apple.com/jp/app/jieme-gong-yuan/id792426923?mt=8', image: 'img/private_works/tumekyouen_ios.png'});
        - PRIVATE_WORKS.push({name: 'TetherSetting - 無料のテザリングアプリ -', icons: ['devicons-android'], link: 'https://play.google.com/store/apps/details?id=hm.orz.chaos114.android.tethersetting', image: 'img/private_works/tethersetting.png'});
        - PRIVATE_WORKS.push({name: '詰め共円', icons: ['devicons-python', 'devicons-angular', 'devicons-coffeescript'], link: 'http://my-android-server.appspot.com/', image: 'img/private_works/tumekyouen_python.png'});
        - PRIVATE_WORKS.push({name: '詰め共円', icons: ['devicons-android'], link: 'https://play.google.com/store/apps/details?id=hm.orz.chaos114.android.tumekyouen', image: 'img/private_works/tumekyouen_android.png'});
        - PRIVATE_WORKS.push({name: '共円チェッカー', icons: ['devicons-android'], link: 'https://play.google.com/store/apps/details?id=hm.orz.chaos114.android.kyouenchecker', image: 'img/private_works/kyouenchecker.png'});
        - PRIVATE_WORKS.push({name: '色揃えるやつ', icons: ['devicons-android'], link: 'https://play.google.com/store/apps/details?id=hm.orz.chaos114.android.irokae', image: 'img/private_works/irokae.png'});
        for val in PRIVATE_WORKS
          li.work-box
            a.work-box__link(href="#{val.link}" target='_blank')
              h3.work-box__title
                for icon in val.icons
                  span.work-box__icon.devicons(class="#{icon}")
                | #{val.name}
              .work-box__ss(style="background-image: url(\"#{val.image}\")")
    .sns
      h2.sns__title SNS / Posts
      ul
        li.sns-box
          a.sns-box__link(href='https://github.com/noboru-i' target='_blank')
            span.sns-box__text
              i.sns-box__icon.fa.fa-github-square
              br
              | noboru-i
        li.sns-box
          a.sns-box__link(href='https://twitter.com/noboru_i' target='_blank')
            span.sns-box__text
              i.sns-box__icon.fa.fa-twitter-square
              br
              | noboru_i
        li.sns-box
          a.sns-box__link(href='https://www.facebook.com/noboru.ishikura' target='_blank')
            span.sns-box__text
              i.sns-box__icon.fa.fa-facebook-square
              br
              | noboru.ishikura
        li.sns-box
          a.sns-box__link(href='http://noboru.hatenablog.jp/' target='_blank')
            span.sns-box__text
              span.sns-box__icon Hatena
              br
              | noboru_i
        li.sns-box
          a.sns-box__link(href='http://qiita.com/noboru_i' target='_blank')
            span.sns-box__text
              span.sns-box__icon Qiita
              br
              | noboru_i
    .skills
      h2.skills__title Skills
      .skill-set
        h3 Lauguages
        ul
          - var LANGUAGES = [];
          - LANGUAGES.push({name: 'Java', icon: 'devicons-java', percent: 80});
          - LANGUAGES.push({name: 'Ruby', icon: 'devicons-ruby', percent: 70});
          - LANGUAGES.push({name: 'JavaScript', icon: 'devicons-javascript', percent: 60});
          - LANGUAGES.push({name: 'Objective-C', icon: 'devicons-apple', percent: 60});
          - LANGUAGES.push({name: 'HTML', icon: 'devicons-html5', percent: 50});
          - LANGUAGES.push({name: 'CSS', icon: 'devicons-css3', percent: 50});
          - LANGUAGES.push({name: 'Python', icon: 'devicons-python', percent: 30});
          - LANGUAGES.push({name: 'PHP', icon: 'devicons-php', percent: 60});
          - LANGUAGES.push({name: 'SQL', icon: 'devicons-database', percent: 40});
          - LANGUAGES.push({name: 'CoffeeScript', icon: 'devicons-coffeescript', percent: 50});
          - LANGUAGES.push({name: 'Sass', icon: 'devicons-sass', percent: 40});
          - LANGUAGES.push({name: 'Stylus', icon: 'devicons-stylus', percent: 40});
          for val in LANGUAGES
            li.skill-box
              h4.skill-box__title
                span.devicons(class="#{val.icon}")
                | #{val.name}
              .skill-box__percent #{val.percent}
      .skill-set
        h3 Frameworks
        ul
          - var FRAMEWORKS = [];
          - FRAMEWORKS.push({name: 'Ruby on Rails', icon: 'devicons-ruby_on_rails', percent: 70});
          - FRAMEWORKS.push({name: 'Spring', icon: 'devicons-java', percent: 40});
          - FRAMEWORKS.push({name: 'CodeIgniter', icon: 'devicons-codeigniter', percent: 60});
          - FRAMEWORKS.push({name: 'Android SDK', icon: 'devicons-android', percent: 60});
          - FRAMEWORKS.push({name: 'Cocoa', icon: 'devicons-apple', percent: 50});
          - FRAMEWORKS.push({name: 'AngularJS 1.x', icon: 'devicons-angular', percent: 40});
          - FRAMEWORKS.push({name: 'Backbone.js', icon: 'devicons-backbone', percent: 20});
          for val in FRAMEWORKS
            li.skill-box
              h4.skill-box__title
                span.devicons(class="#{val.icon}")
                | #{val.name}
              .skill-box__percent #{val.percent}
      .skill-set
        h3 Middlewares
        ul
          - var MIDDLEWARE = [];
          - MIDDLEWARE.push({name: 'MySQL', icon: 'devicons-mysql', percent: 40});
          - MIDDLEWARE.push({name: 'PostgreSQL', icon: 'devicons-postgresql', percent: 20});
          - MIDDLEWARE.push({name: 'Redis', icon: 'devicons-redis', percent: 40});
          - MIDDLEWARE.push({name: 'NGINX', icon: 'devicons-nginx', percent: 40});
          for val in MIDDLEWARE
            li.skill-box
              h4.skill-box__title
                span.devicons(class="#{val.icon}")
                | #{val.name}
              .skill-box__percent #{val.percent}
      .skill-set
        h3 OTHER
        ul
          - var OTHER = [];
          - OTHER.push({name: 'Git', icon: 'devicons devicons-git', percent: 90});
          - OTHER.push({name: 'GitHub', icon: 'devicons devicons-github_badge', percent: 80});
          - OTHER.push({name: 'Grunt', icon: 'devicons devicons-grunt', percent: 60});
          - OTHER.push({name: 'gulp.js', icon: 'devicons devicons-gulp', percent: 60});
          - OTHER.push({name: 'Bower', icon: 'devicons devicons-bower', percent: 50});
          - OTHER.push({name: 'Jenkins', icon: 'devicons devicons-jenkins', percent: 50});
          - OTHER.push({name: 'Travis CI', icon: 'devicons devicons-travis', percent: 30});
          - OTHER.push({name: 'Design', icon: 'fa fa-picture-o', percent: 2});
          for val in OTHER
            li.skill-box
              h4.skill-box__title
                span.skill-box__icon(class="#{val.icon}")
                | #{val.name}
              .skill-box__percent #{val.percent}
    .company
      h2.company__title Company
      h3
        a(href='http://monstar-lab.com/' target='_blank') 株式会社 モンスター・ラボ (Monstar Lab, Inc.)
      | サービス開発事業部 テクノロジスト

    .global-footer
      .global-footer__copyright
        | &copy;  2015 noboru
